
<div class="container">
    <div class="calculator">
      <h2>Calculator</h2>
      <input type="text" value="{{screen}}"  id="output" placeholder="0">
      <button (click)="Clear()">C</button>
      <button (click)="delete1()">DEL</button>
      <button (click)="display('%')" value="%">%</button>
      <button (click)="display('/')" value="/">/</button>
      <button (click)="display('7')" value="7">7</button>
      <button (click)="display('8')" value="9">8</button>
      <button (click)="display('9')" value="8">9</button>
      <button (click)="display('*')" value="*">*</button>
      <button (click)="display('4')" value="4">4</button>
      <button (click)="display('5')" value="5">5</button>
      <button (click)="display('6')" value="6">6</button>
      <button (click)="display('-')" value="-">-</button>
      <button (click)="display('1')" value="1">1</button>
      <button (click)="display('2')" value="2">2</button>
      <button (click)="display('3')" value="3">3</button>
      <button (click)="display('+')" value="+">+</button>
      <button (click)="display('.')" value=".">.</button>
      <button (click)="display('0')" value="0">0</button>
      <button (click)="calculate('=')" value="=" class="equal">=</button>
  
  
  
  
    </div>
  </div>
