*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(68, 107, 96);
    font-family: sans-serif;
    outline: none;

}

.container{
    height: 97vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: white;
    padding: 17px;
    border-radius: 30px;
    box-shadow: inset -5px -5px 119px rgb(243, 240, 240),
                inset -5px -5px 12px 1px rgb(170, 152, 152);
    display: grid;
    grid-template-columns: repeat(4,70px);
    
}

input{
    grid-column: span 4;
    height: 71px;
    width: 270px;
    background-color: white;
    box-shadow: inset -5px -5px 12px white,
    inset 5px 5px 12px rgb(116, 110, 110);

    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);   
    font-size: 52px;
    text-align: end;
    margin: auto;    
    margin-top: 40px;
    margin-bottom: 33px;  
    padding: 20px;  
}

button{
    height: 46px;
    width: 46px;
    background-color:white;
    box-shadow: -5px -5px 12px rgb(231, 222, 222),
                5px 5px 12px rgb(46, 43, 43);
    border: none;       
    border-radius: 50%; 
    margin: 8px;    
    font-size: 17px;
}

.equal{
    width: 116px;
    border-radius: 43px;
    background-color:whitesmoke;
    box-shadow: -5px -5px 12px whitesmoke,
                5px 5px 12px rgb(24, 23, 23);

}